*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.users{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
}

.btn{
    display: flex;
    gap: 20px;
}